
/*For the task list*/
* {
    margin: 0;
    padding: 9;
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(300deg, #131a33, #000103);
    color: #617fba;;
    min-height: 100vh;
    position: relative;
  }

  header {
    font-size: 45pt;
    font-family: 'Oswad';
    color: #d4e2ff;
  }

  
  header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  form input, form button {
    padding: 0.2rem;
    font-size: 20pt;
    border: none;
    color: #617fba;;
    background: #d4e2ff;
  }
  
  form button {
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  form button:hover {
    background: #617fba;
    color: #d4e2ff
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .taskList {
    min-width: 20%;
    list-style: none;
  }
  
  .task {
    font-size: 14pt;
    margin: 0.5rem;
    background-color: #d4e2ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }

  .task li {
    flex: 1;
  }

  .delete-btn, .complete-btn {
    background: #617fba;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
  }

  .taskItem {
    padding: 0rem 0.5rem;
  }

  .fa-trash, .fa-check {
    pointer-events: none;
  }

  #lblcount {
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 12pt;
  }

  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }


  /*For the overlay, login, register*/
  #overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
  }
 

  #form-popup {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 100%;
    height: 100%;
  }

  label {
    display: flex;
    text-transform: lowercase;
  }

  .login-table {
    background-color: white;
    width: 20%;
    height: 25%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .btnLogin {
    padding: 0rem;
    font-size: 12pt;
    width: 100%;
    border: none;
    color: #617fba;;
    background: #d4e2ff;
    cursor: pointer;
    transition: all 0.3s ease; 
  }

  a {
    color:#617fba;
    font-size: 10pt;
  }



/*Clock*/

/* clock update*/

.myTable, label {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

.btn-group {
  display: flex;
  align-items: center;
  height: 10%;
  margin: 35px 0;
}
#btnSettings {
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}

/*form button {
  background: rgb(25, 67, 255);
  width: 100%;
  margin: 5px 0;
  color: white;
}*/
.start {
  background: rgb(48, 33, 253);
  color: white;
}
.break {
  background: rgb(0, 199, 116);
  color: #000000;
}
.reset {
  background: rgb(250, 69, 109);
  color: #000000;
}
.pause {
  background: rgb(253, 143, 17);
}
.resume {
  background: rgb(131, 10, 252);
  color: white;
}


.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 24px;
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(51, 65, 255);
}


.danger {
  stroke: rgb(243, 17, 28);
  animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.05);
  }
  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}
  .btn-group {
    grid-area: btns;
    justify-content: center;
  }
  .clock {
    grid-area: clock;
    height: 100%;
  }
  
  #settings {
    align-self: center;
    justify-self: center;
    grid-area: form;
    width: 50%;
    justify-content: space-around;
}

